<div class="container">
<form name="form" style="margin-top: 20px" #f="ngForm" (ngSubmit)="f.form.valid && sendPatient()">
  <h2 style="text-align: center">Add New Patient</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" [(ngModel)]="patientModel.name"
      #name= "ngModel" [ngClass]="{ 'is-invalid':f.submitted && name.invalid }" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputAge">Age</label>
      <input type="text" class="form-control" id="inputAge" name="age" placeholder="Age" [(ngModel)]="patientModel.age">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputContactNo">Contact No</label>
      <input type="text" class="form-control" id="inputContactNo" name="contactNo" placeholder="Contact No" [(ngModel)]="patientModel.contactNo">
    </div>
    <div class="form-group col-md-6">
      <label for="inputGender">Gender</label>
      <select id="inputGender" class="form-control" name="gender" [(ngModel)]="patientModel.gender">
        <option>Choose...</option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>
</div>


<div class="form-row">
  <div class="form-group col-md-12">
    <button disabled class="btn btn-primary btn-block">Patient Records</button>
    <p></p>
    <app-patient-details></app-patient-details>
  </div>
</div>
