<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Patient Name</th>
    <th scope="col">Medicine Name</th>
    <th scope="col">Doctor Name</th>
    <th scope="col">Disease</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let treat of treatments">
    <th scope="row">{{treat.id}}</th>
    <td>{{treat.patientId}}</td>
    <td>{{treat.medicineId}}</td>
    <td>{{treat.doctorId}}</td>
    <td>{{treat.disease}}</td>
    <td>{{treat.date}}</td>
  </tr>
  </tbody>
</table>
